@import url("https://fonts.googleapis.com/css?family=Raleway:400");
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Source+Sans+3:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lora&family=Playfair+Display&family=Source+Sans+3:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}

html,
body {
  height: 100%;

  width: 100%;
  overscroll-behavior: none;
}


body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #333;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;

  border-radius: 50px;
}

#preloader{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 10000;
  
  opacity: 1; /* Initial opacity */
  transition: opacity 0.5s ease;
}


.logo{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  width: 100vw;
}

.logo svg{

  
    width: 200px; /* Set the desired width */
    height: 50x; /* Set the desired height */
    position: relative;
   
  }
body {
  overflow-x: hidden;
}



#nav {
  height: 130px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 50px;
  position: fixed;
  justify-content:center;
  z-index: 999;
}

#nav li{
  padding-top: 15px;
  list-style: none;
}

#nav .links{
  display: flex;
  gap: 80px;
} 


#nav img {
  vertical-align: top;
  height: 60px;
  
  
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}
#nav a{
  text-decoration: none;
}
#nav a:hover{
  color: #FFA500;
}
 .toggle_btn{
  display: none;
  

}
.dropdown{
  display: hidden;
  position: fixed;
  
  top: 100px;
  height: 0;
  width: 300px;
  background: rgba(31, 22, 5, 0.053);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.dropdown.open{
  height: 240px;
  z-index: 999;
}
.dropdown li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1025px) {

  #nav li{
    display: none;
  }

  .dropdown a{
    text-decoration: none;
  }
  #nav img{   
    height: 50px;
  }

  .toggle_btn{

    display:block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
  }

  .dropdown{ 
  width: 100%;

  }

  .dropdown a:hover{
    text-decoration: underline;
  }


}







.backcover {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-size:cover;
    z-index: -1;
}

#main {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.39); */
}

#page_one{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}


.scroll_down{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.scroll_down span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scroll_down span:nth-child(2)
{
	animation-delay: -0.2s;
}

.scroll_down span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

#end_page{
    
}
#our_events{
  display: flex;
justify-content: center;
align-items: center;
padding-top: 10vh;
/* background-color: #060101; */
}


.dark {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #fff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
  /* background-color: #060101; */
}





.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #fff;
  width: 80vw;
}
.postcard.dark {
  background-color: #18151f;
}

.postcard .t-dark {
  color: #18151f;
}
.postcard a {
  color: inherit;
  text-decoration: none;
}
.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
  text-decoration: none;
}
.postcard .postcard__img {
  max-height: 80px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}
@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
 }
  .postcard .postcard__title {
    font-size: 2rem;
 }
  .postcard .postcard__tagbox {
    justify-content: start;
 }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
 }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
 }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
 }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
 }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
 }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
 }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
 }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
 }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
 }
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
 }
  .postcard.dark .postcard__text:before {
    background: #18151f;
 }
  .postcard.light .postcard__text:before {
    background: #e1e5ea;
 }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #4dbbc7;
  color: black;
}
.green .postcard__title:hover {
  color: #4dbbc7;
}
.green .postcard__bar {
  background-color: #4dbbc7;
}
.green::before {
  background-image: linear-gradient(-30deg, rgba(0, 8,0, 0.1), transparent 50%);
}
.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.1), transparent 50%);
}
.postcard .postcard__tagbox .blue.play:hover {
  background: #4dbbc7;
}
.blue .postcard__title:hover {
  color: #4dbbc7;
}
.blue .postcard__bar {
  background-color: #4dbbc7;
}
.blue::before {
  background-image: linear-gradient(-30deg, rgba(9, 150, 221, 0.1), transparent 50%);
}
.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}


@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
 }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
 }
  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
 }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
 }
}



@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}





#space{
  height:50px;
}


@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}




:root {
	--d: 6500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
  --c1: #6fcbd5;   /* Fire Color 1 (Red) */
  --c2: rgba(0, 118, 189, 0.1);
}


#about-us {
  
  height: 100vh;
  width: 100%;
  margin-top: 10vh;
  display: inline-flex;
 

  align-items: center;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}


#about-us-in {
  width: 80%;
  text-align: center;
  margin: 20px; /* Add margin here */
  border: 0.15em solid;
  padding: 5vh 10vw;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;

 
}

.register_now{
  height: 200px;
   
  
}


@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

#about-us-in h3 {
  font-size: 3vw;
  /* font-weight: 800; */
  margin-bottom: 30px;
}
#about-us-in p {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;

}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: rgb(50, 50, 50);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(6, 6, 6));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(8, 8, 8));
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}