@import url("https://fonts.googleapis.com/css?family=Raleway:400");
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Source+Sans+3:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lora&family=Playfair+Display&family=Source+Sans+3:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

:root{
  --color-bg: #c0c0c0;
  --color-section-1: #343434;
  --color-section-2: #ea0b0b;
  --color-section-3: #2d1515;
  --color-section-4: #8e4b4b;
  --color-section-5: #8b7070;
  --color-section-6: #e01b1b;


}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body{
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;

}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #333;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;

  border-radius: 50px;
}

#preloader{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 10000;
  
  opacity: 1; /* Initial opacity */
  transition: opacity 0.5s ease;
}


.logo{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  width: 100vw;
}

.logo svg{

  
    width: 200px; /* Set the desired width */
    height: 50x; /* Set the desired height */
    position: relative;
   
  }
body {
  overflow-x: hidden;
}



#nav {
  height: 130px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 50px;
  position: fixed;
  justify-content:center;
  z-index: 999;
}

#nav li{
  padding-top: 15px;
  list-style: none;
}

#nav .links{
  display: flex;
  gap: 80px;
} 


#nav img {
  vertical-align: top;
  height: 60px;
  
  
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

#nav a{
  text-decoration: none;
}
#nav a:hover{
  color: #FFA500;
}




 .toggle_btn{
  display: none;
  

}

.dropdown{
  display: hidden;
  position: absolute;
  
  top: 100px;
  height: 0;
  width: 300px;
  background: rgba(31, 22, 5, 0.053);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.dropdown.open{
  height: 240px;
  z-index: 999;
}

.dropdown li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1025px) {

  #nav li{
    display: none;
  }

  .dropdown a{
    text-decoration: none;
  }
  #nav img{   
    height: 50px;
  }

  .toggle_btn{

    display:block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
  }

  .dropdown{ 
  width: 100%;

  }

  .dropdown a:hover{
    
  }


}



.backcover {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-size:cover;
  z-index: -1;
}

#main {
position: relative;
/* background-color: rgba(0, 0, 0, 0.39); */
}

#page_one{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}



#end_page{
  height: 100vh;
  width: 100%;
}

.container{
  width: 100%;
  height: 100%;
}


.map{
  position: fixed;
  width: 20%;
  margin: 50px 0;
  padding: 0 20px;
}


.sections{
  position: absolute;
  width: 80%;
  height: 100vh;
  left: 20%;
  padding: 30px 20px 0 0 ;

}


.map > div{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  border: 1.5px solid #000;
  border-radius: 20px;
  transition: height 0.5s;
}


.sections > div{
  width: 100%;
  margin: 20px 0 80px 0;

}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 25px;
  border: 1.5px solid #000;
  border-radius: 40px;
  font-size: 14px;
}


.map > div p:nth-child(1){
  font-size: 13px;
}


.map > div p:nth-child(2){
  font-size: 20px;
  }


.copy {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1.5px solid #000;
  border-radius: 20px;
}


.copy h1{
  font-weight: 300;
  font-size: 60px;

}


.section-1{
  height: 600px;
}

.section-2{
  height: 500px;
}
.section-3{
  height: 600px;
}
.section-4{
  height: 300px;
}
.section-5{
  height: 400px;
}
.section-6{
  height: 600px;
}